<article>
    <div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Beveges/Pepsi 500ml.jpg" alt="PEPSI CAN 500 ML">
            <p><b>PEPSI 500 ML</b></p>
            <p>Price:&#8377;57/</p>
        </div>

        <div class="box">
            <img src="../../../assets/Images/kfc/Beveges/PepsiBlackCan330ml.jpg" alt="PEPSI CAN 330ML">
            <p><b>PEPSI CAN 300ML</b></p>
            <p> PRICE:&#8377;60.</p>
        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Beveges/MirindaCan330ml.jpg" alt="MIRINDA CAN 330ML">
            <p><b> MIRINDA CAN 330 ML</b></p>
            <p> PRICE:&#8377;55.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Beveges/7upCan330ml.jpg" alt="7UP CAN 330ML">
            <p><b> 7UP CAN 330ML</b></p>
            <p> PRICE:&#8377;313.</p>


        </div>
    </div>
</article>