<header style="display: inline-block;">
    <h1><b>KFC RESTAURANTS</b></h1>
    <img class="image" src="../../assets/Images/KFC.png" width="60px">

</header>

<nav>
    <button
        onclick="document.location='file:///C:/Users/Administrator/Desktop/Git/HTML-CSS-JS/workout/KFC%201.html'"><b>Book
            my order</b></button>
    <img class=navimg src="../../assets/Images/facebook.png" width="40px" height="40px">
    <img class=navimg src="../../assets/Images/insta.jpeg" width="40px" height="40px">
    <img class=navimg src="../../assets/Images/twitter.jpeg" width="40px" height="40px">

</nav>
<div>

    <img class="size" src="../../assets/Images/kfc_jpg.jpg">

    <div>
        <h2>KFC</h2>

        <p>Locate the Nearest Restaurant(s)</p>


        <form action="/action_page.php">
            <label for="Restaurant">Select State:</label>
            <select id="Restaurant" name="Restaurant">
                <option value="tamil Nadu">Tamil Nadu</option>
                <option value="karnataka">Karnataka</option>
                <option value="andhra pradesh" selected>Andhra Pradesh</option>
                <option value="kerala">Kerala</option>
            </select><br><br>

            <label for="Restaurant ">Select City:</label>
            <select id="Restaurant" name="Restaurant">
                <option value="Chennai">Chennai</option>
                <option value="Vellore">Vellore</option>
                <option value="Krishnagiri" selected>Krishnagiri</option>
                <option value="Hosur">Hosur</option>
            </select><br><br>

            <label for="Restaurant">Select Locality:</label>
            <select id="Restaurant" name="Restaurant">
                <option value="Busstand">Busstand</option>
                <option value="Bargur">Bargur</option>
                <option value="Kaveripattinam" selected>Kaveripattinam</option>
                <option value="Bommnahalli">Bommnahalli</option>


            </select><br><br>

            <button class="cbutton"> search</button>

        </form>

    </div>


</div>