<article>
    <div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/Wednesday bucket.jpg" alt="WEDNESDAY BUCKET">
            <p><b>WEDNESDAY BUCKET</b></p>
            <p>Price:&#8377;500.</p>
        </div>

        <div class="box">
            <img src="../../../assets/Images/kfc/5leg piece.jpg" alt="Bucket 5 Pieces">
            <p><b>BUCKET LEG PIECES</b></p>
            <p> PRICE:&#8377;400.</p>
        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/STRIPES.jpeg" alt="STRIPS PIECES">
            <p><b>STRIPS PIECES</b></p>
            <p> PRICE:&#8377;449.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/Big12.jpg" alt="10PC LEG PIECE & 4 DIPS">
            <p><b> 10PC LEG PIECE & 4 DIPS</b></p>
            <p> PRICE:&#8377;550.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/10leg piece.jpg" alt="BIG 12">
            <p><b>BIG 12</b></p>
            <p> PRICE:&#8377;699.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/kfcfavorites.jpg" alt="KFC FAVORITES">
            <P><b>KFC FAVORITES</b></P>
            <p> PRICE:&#8377;600.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/chickshare.jpg" alt="CHICK & SHARE">
            <P><b>CHICK & SHARE</b></P>
            <p> PRICE:&#8377;200.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Chicken/Ultimatedbucket.jpg" alt="ULTIMATED BUCKET">
            <P><b>ULTIMATED BUCKET</b></P>
            <p> PRICE:&#8377;150.</p>

        </div>
        </div>
    </article>
