<article>
    <div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Box meal/allchickenbox.jpg" alt="ALL CHICKEN BOX">
            <p><b>ALL CHICKEN BOX</b></p>
            <p>Price:&#8377;189/</p>
        </div>

        <div class="box">
            <img src="../../../assets/Images/kfc/Box meal/ClassicZingerBox.jpg" alt="CLASSIC ZINGER BOX">
            <p><b>CLASSIC ZINGER BOX</b></p>
            <p> PRICE:&#8377;313.</p>
        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Box meal/TandooriZingerBoxmin.jpg" alt="TANDOORI BOX MEAL">
            <p><b> TANDOORI BOX MEAL</b></p>
            <p> PRICE:&#8377;228.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Box meal/VegZingerBox.jpg" alt="VEG ZINGER BOX">
            <p><b> VEG ZINGER BOX</b></p>
            <p> PRICE:&#8377;313.</p>

        </div>
    </div>
</article>