<article>
    <div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/2pcHotCrispy.jpg" alt="2 PC HOT CRISPY">
            <p><b>2 PC HOT CRISPY</b></p>
            <p>Price:&#8377;229/</p>
        </div>

        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/4pcHotCrsipyChicken.jpg" alt="4 PC HOT CHICKEN">
            <p><b>4 PC HOT CHICKEN </b></p>
            <p> PRICE:&#8377;313.</p>
        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/ChickenFriesBucket.jpg" alt="4 PC HOT WINGS">
            <p><b> 4 PC HOT WINGS</b></p>
            <p> PRICE:&#8377;165.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/Minglesbucket.jpg" alt="CHICKEN FRIES BUCKET">
            <p><b> CHICKEN FRIES BUCKET</b></p>
            <p> PRICE:&#8377;440.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/4pcHotwings.jpg" alt="MINGLES BUCKET">
            <p><b>MINGLES BUCKET</b></p>
            <p> PRICE:&#8377;449.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/pchotcrispychicken.jpg" alt="PC HOT CHICKEN ">
            <P><b>PC HOT CHICKEN</b></P>
            <p> PRICE:&#8377;440.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/PopcornFriesbucket.jpg" alt="POPCORN FRIES BUCKET">
            <P><b>POPCORN FRIES BUCKET</b></P>
            <p> PRICE:&#8377;200.</p>

        </div>
        <div class="box">
            <img src="../../../assets/Images/kfc/Snaks/Popcornlarge.jpg" alt="POPCORN LARGE ">
            <P><b>POPCORN LARGE </b></P>
            <p> PRICE:&#8377;250.</p>

        </div>
    </div>
</article>