<article>
    <div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/ChickenKrispers.jpg"  alt="2 CHICKEN BURGERS" >
        <p><b>2  KRISPERS BURGERS</b></p>
        <p>Price:&#8377;518/</p>
        </div>

      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/2ClassicVegKrispers.jpg" alt="2 VEG BURGERS" >
        <p><b>2 VEG KRISPER BURGERS</b></p>
        <p> PRICE:&#8377;158.</p>
        </div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/ChickenKrispersCombo.jpg" alt=" COMBO BURGERS" >
        <p><b> COMBO BURGERS</b></p>
        <p> PRICE:&#8377;228.</p>
            
      </div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/ClassicZingerBox.jpg" alt="CLASSIC ZINGER BOX" >
        <p><b> CLASSIC ZINGER BOX</b></p>  
        <p> PRICE:&#8377;182.</p>
        
      </div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/TandooriZinger.jpg" alt="TANDOORI ZINGER" >
        <p><b>BIG 12</b></p>
        <p> PRICE:&#8377;699.</p>
          
      </div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/TandooriZingerBoxmin.jpg" alt="TANDOORI ZINGER MIN">
        <P><b>TANDOORI ZINGER MIN</b></P>
        <p> PRICE:&#8377;500.</p>
        
      </div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/MixedZingerDoubles.jpg" alt="MIXED ZINGER DOUBLES">
       <P><b>MIXED ZINGER DOUBLES</b></P>
        <p> PRICE:&#8377;313.</p>
        
      </div>
      <div class="box">
        <img src="../../../assets/Images/kfc/Burgers/TandooriZinger.jpg" alt="CLASSIC ZINGER " >
        <P><b>CLASSIC ZINGER </b></P>
        <p> PRICE:&#8377;150.</p>
         
      
    </div>
    </div>
  </article>